.title {
    font-size: 3rem;
    text-align: center;
    color: black;
}

.text-starter {
    text-align: center;
    margin-top: 2rem;
}

.image-container {
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 2rem;
}

.text-description {
    color: rgb(85, 85, 85);
    font-weight: 600;
}